[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "factset.protobuf.stachextensions"]
	path = factset.protobuf.stachextensions
	url = https://github.com/cran/factset.protobuf.stachextensions
